<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}\ChatArchiveViewer\Logs" />
  <targets>
    <target xsi:type="File"
            name="appFile"
            fileName="${var:logDirectory}\app.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=ToString}}"
            archiveFileName="${var:logDirectory}\archive\app.{#}.log"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="14"
            keepFileOpen="false"
            createDirs="true"
            encoding="utf-8" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="appFile" final="true" />
    <logger name="*" minlevel="Info" writeTo="appFile" />
  </rules>
</nlog>
